
* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: space-between;
  width: 327px;
}

.nav-list {
  display: flex;
  margin-right: 110%;
}

.nav-list li {
  justify-content: space-between;
  padding-right: 10px;
  width: 63px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
  margin-right: 12%;
  padding-top: 5px;
}

#my-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 12px;
}

#my-btn1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 12px;
}

.down-btn {
  width: 20px;
  height: 20px;
}

#my-btn:hover {
  background: #6070ff;
  color: #fff;
}

#my-btn:active {
  background: #2230d2;
  color: #fff;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  color: #6070ff;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  animation-duration: 3s;
  animation-name: spin;
}

.my-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-list {
  display: inline;
  padding: 8px;
}

.container {
  height: 718px;
  background-image: url('images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all3-sections {
  background-color: #e5e5e5b7;
}

.first-section {
  align-items: center;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 7%;
  padding-bottom: 10%;
  line-height: 52px;
  background: #fff;
  width: 327px;
  height: 620px;
}

.second-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 620px;
}

.third-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.fourth-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.fifth-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.sixth-section {
  width: 375px;
  height: 1000px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.lists li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}

#li-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.section-list li {
  list-style-type: none;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  gap: 10px;
}

.section6-list {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: #253858;
  padding: 10px;
}

#last-p {
  padding-left: 12px;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  height: 24px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
}

#bottom-list {
  gap: 10px;
}

.my-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.second-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.other-list {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: inline;
  padding: 3px;
}

#my-h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  transition: font-size 3s, color 2s;
}

#my-p1 {
  color: #344563;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
}

.my-p2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

#last-section-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.last-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  justify-content: center;
  background-image: url('images/contact-img.png');
  height: 785px;
}

.last-section h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.last-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px;
  padding: 10px;
}

.last-section form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

small {
  margin-left: 40%;
  color: rgb(235, 12, 12);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  /* visibility: hidden; */
}

.error input {
  border-color: #e74c3c;
}

.error small {
  color: #e74c3c;;
  /* visibility: visible; */
}

.input {
  width: 350px;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.textarea {
  width: 350px;
  height: 170px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 20px;
  color: #172b4d;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text-area::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #b3bac5;
  margin-left: 20px;
}

.get-in-touch {
  width: 140px;
  height: 48px;
  justify-content: flex-start;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  border-radius: 8px;
  border: none;
}

.shape-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-project-btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  letter-spacing: 0.03em;
}

.see-project-btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    z-index: 100;
  }

  .burger.active .line1:nth-child(2) {
    opacity: 0;
    background-color: white;
  }

  .burger.active .line1:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .burger.active .line1:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .nav-list {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    flex-direction: column;
    background-color: #5b6bfcde;
    height: 100vh;
    mix-blend-mode: normal;
  }

  #my-h1 {
    font-size: 26px;
  }

  .navig-list {
    margin: 16px 0;
  }

  .nav-links {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    transition: 0.3s;
    gap: 10px;
    margin-left: 15px;
    margin-top: 70px;
  }

  .nav-list.active {
    left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
  }

  .burger {
    display: none;
  }

  .card-top img {
    width: 500px;
    height: 400px;
    border-radius: 8px;
  }

  .first-section {
    width: 60%;
    margin-left: 13%;
    margin-top: 5%;
    margin-right: 20%;
  }

  .container {
    background-size: cover;
    width: 100%;
  }

  .my-logo {
    margin-left: 8%;
  }

  .second-section {
    display: flex;
    width: 85%;
    flex-direction: row;
    height: 480px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
    transition: margin 1s, box-shadow 1s;
  }

  .second-section:hover,
  .second-section:focus {
    margin: 5px;
    box-shadow: 7px 7px #7f8cff;
  }

  .second-section-div {
    width: 70%;
    margin-left: 10%;
  }

  .second-para {
    width: 60%;
  }

  .my-h2 {
    color: #091e42;
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #my-h1:hover {
    font-size: 60px;
    color: #2230d2;
  }

  #my-btn1 {
    background: #4053fc;
    color: #fff;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    border-radius: 8px;
  }

  .section-img {
    width: 500px;
    height: 400px;
    border-radius: 8px;
  }

  .third-section {
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
    height: 480px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
    transition: margin 1s, box-shadow 1s;
  }

  .third-section:hover,
  .third-section:focus {
    margin: 5px;
    box-shadow: 7px 7px #7f8cff;
  }

  .fourth-section {
    display: flex;
    width: 85%;
    flex-direction: row;
    height: 480px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
  }

  .fifth-section {
    display: flex;
    width: 85%;
    flex-direction: row-reverse;
    height: 480px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
  }

  .sixth-section {
    display: flex;
    width: 85%;
    flex-direction: row;
    gap: 25px;
    height: 480px;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
  }

  .section6-list {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    align-items: flex-start;
  }

  .section-tech-list {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .sections-lign {
    margin-left: 5%;
  }

  .section-about {
    margin-right: 5%;
  }

  .last-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    background-size: cover;
    justify-content: center;
    background-image: url('images/contact-img.png');
    height: 740px;
  }

  .bottom-tech {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 5%;
  }

  .last-paragraph {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
  }

  .shape-btn {
    display: none;
  }

  .input {
    width: 45%;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    height: 48px;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
  }

  .textarea {
    width: 45%;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    height: 170px;
    margin-left: 25%;
  }

  .get-in-touch {
    margin-left: 40%;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mobile-popup {
  width: 100%;
  padding: 5px 20px;
  display: none;
  z-index: 250;
  overflow-x: hidden;
  background-image: url("./images/overlay.png");
}

.show-popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.stop-scroll {
  overflow: hidden;
}

.popup-statusbar {
  display: block;
}

.popup-button-line {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-popup {
    width: 100%;
    height: 100vh;
    padding: 1% 20%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #c1c7d070;
  }

  .card-categories li {
    gap: 10px;
  }

  .popup-subtitles ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #7a869a;
  }

  .popup-statusbar {
    display: none;
  }

  .popup-button-line {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-popup-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    height: 100vh;
    width: 900px;
  }
}

.card-image {
  display: flex;
  width: 100%;
  min-height: 230px;
  max-height: 556px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .card-image {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .card-image img {
    width: 85%;
    margin-top: -5%;
    height: 400px;
  }

  .popup-top {
    margin-top: -6%;
  }

  .popup-subtitles {
    margin-top: -5%;
  }

  .work-description-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    flex-direction: row;

    /* margin-left: -105%; */
    gap: 10px;
  }

  .popup-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 6%;
  }

  .p-technologies {
    display: flex;
    flex-direction: column;
  }
}

.popup-separator-line {
  width: 303px;
  margin-top: 20px;
  border: 1px solid #ebecf0;
}

.popup-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .popup-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .popup-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 15px;
    gap: 2px;
    margin: 20px 5px 10px 5px;
    justify-content: space-between;
    bottom: 4px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    color: #396df2;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    width: 200px;
  }

  .popup-technologies {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    justify-content: space-between;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }

  .popup-technologies li {
    margin-right: 10px;
    background: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .popup-technologies {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    justify-content: space-between;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }

  .popup-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 15px;
    margin: 20px 5px 10px 5px;
    gap: 5px;
    justify-content: space-between;
    bottom: 4px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    color: #396df2;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
  }

  .card-image img {
    width: 80%;
    margin-top: -3%;
  }

  .mobile-popup-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .popup-technologies li {
    margin-right: 10px;
    background: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
  }

  .popup-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 6%;
  }

  .popup-subtitles ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #7a869a;
    margin-top: -16%;
  }

  .popup-top {
    margin-top: -8%;
  }
}

.popup-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 52px;
  color: #172b4d;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.popup-btn img {
  width: 18px;
  height: 20px;
}
