
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  background-image: url('images/header-shapes\ mobile.png');
}

#logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

#humburger-btn {
  width: 25px;
  height: 25px;
  margin-left: 60%;
  margin-top: 3%;
}

.first-section {
  align-items: center;
  padding-left: 10px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  padding-top: 4%;
}

.second-section {
  padding-left: 10px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

#link {
  text-decoration: none;
}

.third-section {
  padding-left: 10px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#svg-1 {
  margin-left: 10px;
}
