
* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: space-between;
  width: 327px;
}

#my-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 12px;
}

.down-btn {
  width: 20px;
  height: 20px;
}

#my-btn:hover {
  background: #6070ff;
  color: #fff;
}

#my-btn:active {
  background: #2230d2;
  color: #fff;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  color: #6070ff;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.my-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-list {
  display: inline;
  padding: 8px;
}

.container {
  background-image: url('images/header-shapes\ mobile.png');
  height: 718px;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#humburger-btn {
  width: 25px;
  height: 25px;
}

.first-section {
  align-items: center;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 52px;
}

.second-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 620px;
}

.third-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.fourth-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.fifth-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 640px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.sixth-section {
  width: 375px;
  height: 1000px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.lists {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}

#li-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.section-list li {
  list-style-type: none;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.section6-list {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: #253858;
  padding: 10px;
}

#last-p {
  padding-left: 12px;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  height: 24px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
}

#bottom-list {
  gap: 10px;
}

.my-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.second-para {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.other-list {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: inline;
  padding: 3px;
}

#my-h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

#my-p1 {
  color: #344563;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  order: 1;
  font-family: 'poppins', sans-serif;
  font-style: normal;
}

.my-p2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

#last-section-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.last-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  justify-content: center;
  background-image: url('images/contact-img.png');
  height: 100vh;
}

.last-section h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.last-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px;
  padding: 10px;
}

.last-section form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.text-area {
  width: 100%;
  height: 170px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 20px;
  color: #172b4d;
}

::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.text-area::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #B3BAC5;
  margin-left: 20px;
}

.get-in-touch {
  width: 140px;
  height: 48px;
  justify-content: flex-start;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  border-radius: 8px;
  border: none;
}

.shape-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-project-btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  letter-spacing: 0.03em;
}

.see-project-btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}