
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: space-between;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  color: #6070ff;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.my-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 8px;
}

.container {
  background-image: url('images/header-shapes\ mobile.png');
  height: 718px;
  width: 375px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#humburger-btn {
  width: 25px;
  height: 25px;
}

.first-section {
  align-items: center;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 327px;
}

#my-h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
}

#my-p1 {
  color: #344563;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

#my-p2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none; 
}